<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a811b5afd0.js" crossorigin="anonymous"></script>
    <title>Frerox Technologies</title>
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif;
        }

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 1px solid white;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }

        input,
        select,
        textarea {
            color: black;
            font-size: 20px;
        }

        /* Change styles for span and cancel button on extra small screens */
        @media screen and (max-width: 300px) {
            span.psw {
                display: block;
                float: none;
            }
        }
    </style>
</head>

<body class="w3-light-grey">
    <!-- Top Container -->
    <div class="w3-top">
        <div class="w3-bar w3-2021-inkwell w3-large" style="border-bottom: 1px solid white;">
            <span class="w3-bar-item">FEROX TECHNOLOGIES </span>
            <div class="w3-dropdown-hover w3-right">
                <button class="w3-button w3-2021-inkwell" style="width: 160px;">VN</button>
                <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0;">
                    <a href="#" class="w3-bar-item w3-button w3-center" style="text-decoration: none;">EN</a>
                </div>
            </div>
            <div class="w3-clear"></div>
        </div>
    </div>

    <!-- SignIn Form -->
    <div class="w3-row">
        <div class="w3-third">
            <p></p>
        </div>
        <div class="w3-third w3-animate-top">
            <div class="w3-container w3-card-2 w3-main w3-2021-inkwell" style="margin-top: 50%;">
                <div class="w3-center w3-padding-16">
                    <h2>ĐĂNG NHẬP</h2>
                </div>
                <section id="Signin">
                    <!-- Action của form đăng nhập -->
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="w3-container w3-center">
                            <tr>
                              <td>{{ form.email.label_tag }}</td><br>
                              <td>{{ form.email }}</td><br>
                            </tr><br><br>
                            <tr>
                              <td>{{ form.password.label_tag }}</td><br>
                              <td>{{ form.password }}</td><br>
                            </tr><br><br>
                            <!--
                            <input type="text" placeholder="Enter Email" name="email" required
                                style="padding: 12px 20px; margin: 8px 0px; width: 75%; border: 1px solid #ffffff;" /><br>
                            <input type="password" placeholder="Enter Password" name="psw" required
                                style="padding: 12px 20px; margin: 8px 0px; width: 75%; border: 1px solid #ffffff;" /><br>
                            -->
                            <a href="view" style="text-decoration: none; color: #ffffff;">
                                <button type="button" class="w3-center"
                                style="padding: 12px 20px; margin: 8px 0px; width: 75%; border: 1px solid  #35d86b; background-color:  #35d86b; font-size: 20px;">Đăng
                                nhập</button>
                            </a>
                        </div><br><br>
                    </form>
                </section>
            </div>
        </div>
        <div class="w3-third">
            <p></p>
        </div>
    </div>
    <footer class="w3-container w3-2021-inkwell" style="max-height: 60px;">
        <div class="w3-row-padding">
            <div class="w3-center">
                <h3>FEROX TECHNOLOGIES VIEW SYSTEM</h3>
            </div>
        </div>
    </footer>
</body>

</html>
